{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" href="{% static 'Illustrations/Logo.svg' %}" type="image/gif" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8, minimum-scale=0.8"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Assignments | {{ title }}</title>
    {% block extrahead %}{% endblock %}
</head>
<body id="mainBody">
<div class="container" style="position: relative;" id="base">
    {% block content %}

    {% endblock %}
    {% include 'base/footer.html' %}
</div>
{% block extrafoot %}{% endblock %}
</body>
</html>