{% extends 'base/base.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock extrahead %}
{% block content %}
    {% include 'base/header.html' %}
    <div class="full_height">
        <div class="left">
            <img src="{% static 'Illustrations/Logo.svg' %}" alt="logo" class="logo">
            <h1 class="login">Sign Up for Assignments</h1>
            <p class="tag">Already have an account?<a href="{% url 'login_view' %}">Sign In to existing account</a></p>
            <form action="" method="post" class="subForm" name="subForm">{% csrf_token %}
                <div class="part part1">
                    <input type="text" name="f_name" class="f_name input" placeholder="First Name">
                    <input type="text" name="l_name" class="l_name input" placeholder="Last Name">
                    <select name="university" id="university" class="university">
                        <option value="kiit">KIIT</option>
                    </select>
                    <input type="text" class="roll input" name="roll" placeholder="Roll Number">
                    <button type="button" class="login nextBtn">Next
                        <svg class="arrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve"> <path style="fill:#ffffff;" d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111 C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587                         c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/>
                        </svg>
                    </button>
                </div>
                <div class="part part2">
                    <input type="email" name="email" class="email input" placeholder="Email Address">
                    <input type="password" name="password" class="password input" placeholder="Password">
                    <input type="password" name="cnfrm_password" class="password input" placeholder="Comfirm Password">
                    <button type="submit" class="login">Sign up to Assignments
                        <svg class="arrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve"> <path style="fill:#ffffff;" d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111 C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587                         c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
        <div class="right">
            <img src="{% static 'Illustrations/LoginIllustration.svg' %}" alt="" class="loginImg">
        </div>
    </div>

{% endblock content %}

{% block extrafoot %}
    <script src="{% static 'js/form.js' %}"></script>
{% endblock extrafoot %}