{% extends 'base/base.html' %}
{% load static %}
{% block extraHead %}
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock extraHead %}
{% block content %}
    <div class="mainCont">
        <section class="formContMain">
            <div class="formCont">
                <div class="form">
                    <a href="{% url 'home' %}"><img src="{% static 'Illustrations/logoBlank.svg' %}" alt="" class="logo"></a>
                    <h2 class="formHead">Create your <span>CodeVox</span> account</h2>
                    <form action="" method="post" id="userForm" class="userForm">{% csrf_token %}
                        {% if error %}
                            <div class="error">
                                <p class="errorText">{{ error }}</p>
                            </div>
                        {% endif %}
                        <div class="part1">
                            <div class="inputField">
                                <input type="text" aria-required="true" class="input firstName" name="f_name" placeholder="First Name">
                            </div>
                            <div class="inputField">
                                <input type="text" aria-required="true" class="input lastName" name="l_name" placeholder="Last Name">
                            </div>
                            <div class="inputField">
                                <select name="university" id="university" class="select">
                                    <option value="KIIT" selected>Kalinga Institute of Industrial Technology(KIIT)</option>
                                </select>
                            </div>
                            <div class="inputField">
                                <select name="userPersona" id="userType" class="select">
                                    <option value="0" selected>Select user type</option>
                                    <option value="student">Student</option>
                                    <option value="teacher">Teacher</option>
                                </select>
                            </div>
                            <div class="inputField links">
                                <a href="{% url 'login_view' %}" class="signInLink">Sign in instead</a>
                                <button class="next" type="button" id="nextBtn">Next</button>
                            </div>
                        </div>
                        <div class="part2">
                            <div class="inputField">
                                <input type="text" aria-required="true" class="input rollNo" id="roll" name="roll" placeholder="Roll Number">
                            </div>
                            <div class="inputField">
                                <input type="email" aria-required="true" class="input" name="email" placeholder="Email Id">
                            </div>
                            <div class="inputField">
                                <input type="password" aria-required="true" class="input" name="password" placeholder="Password">
                            </div>
                            <div class="inputField">
                                <input type="password" aria-required="true" class="input" name="cnfrm_password" placeholder="Confirm Password">
                            </div>
                            <div class="inputField links">
                                <button class="prevBtn next" type="button" id="prevBtn">Previous</button>
                                <button class="next" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footCont">
                <p class="foot">Created by team <img src="{% static 'Illustrations/LogoDark.svg' %}" alt=""></p>
            </div>
        </section>
    </div>
{% endblock content %}
{% block extraFoot %}
    <script src="{% static 'js/form.js' %}"></script>
{% endblock extraFoot %}