h1.createAssignment{
    color: var(--font_color);
    font-family: "Mulish-Reg", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}
p.createAssignment{
    color: var(--font_color_subTwo);
    font-family: "Mulish-Reg", sans-serif;
    margin-top: 10px;
    font-size: 0.9rem;
}
div.assignmentPart{
    background-color: var(--tile_color);
    padding: 30px;
    box-sizing: border-box;
    margin-top: 20px;
}
h2.assignmentInfo{
    color: var(--font_color);
    font-family: "Mulish-Reg", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
label.assignmentInfo{
    color: var(--light_btn);
    font-family: "GT-Reg", sans-serif;
    font-size: 0.95rem;
    width: 400px;
    letter-spacing: 0.03rem;
}
input.assignmentInfo{
    border: 2px solid var(--font_color_sub);
    background-color: var(--tile_color);
    color: var(--font_color_sub);
    outline: none;
    display: block;
    padding: 8px 15px;
    margin-top: 10px;
    width: 500px;
    font-family: "GT-Reg", sans-serif;
    font-size: 0.95rem;
    border-radius: 4px;
    margin-bottom: 20px;
}
input.assignmentDate{
    display: block;
    margin-top: 10px;
    width: 250px;
    border-radius: 4px;
    border: 2px solid var(--font_color_sub);
    color: var(--font_color_subTwo);
    padding: 8px 15px;
    background-color: var(--tile_color);
    font-family: "GT-Reg", sans-serif;
    font-size: 0.95rem;
}
input.assignmentDate::-webkit-calendar-picker-indicator{
    background-color: var(--tile_color);
}
div.questionPart{
    margin-top: 30px;
    padding: 30px;
    background-color: var(--body_color);
}
button.createAssignment{
    border: none;
    padding: 8px 15px;
    background-color: var(--light_btn);
    outline: none;
    color: #FFFFFF;
    font-family: "Mulish-Reg", sans-serif;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    display: inline-block;
    margin-top: 30px;
    border-radius: 8px;
}
div.upDate{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.upDate button.upDate{
    background-color: var(--light_btn);
    border: 3px solid var(--light_btn);
    color: #FFFFFF;
    padding: 8px 25px;
    font-family: "Mulish-Reg", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}

h1.YoCanNow{
    color: var(--font_color_sub);
    font-family: "Mulish-Reg", sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.04rem;
    margin-bottom: 20px;
    display: none;
}