div.classTeacherTile{
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    background: var(--assignment_grad);
    display: flex;
    position: relative;
    border-radius: 8px;
}
div.removeClass{
    position: absolute;
    top: 30px;
    right: 30px;
}
div.removeClass button.removeClass{
    text-decoration: none;
    color: var(--font_color);
    font-family: "GT-Reg", sans-serif;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    padding: 5px 15px;
    border-radius: 6px;
    border: 3px solid var(--error_color);
    position: relative;
    width: 140px;
    text-align: right;
    display: inline-block;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
div.cont1 h1.classTitle{
    color: var(--font_color);
    font-family: "Mulish-Reg", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.04rem;
}
div.cont1 h2.classBatch{
    color: var(--font_color_subTwo);
    font-family: "Mulish-Reg", sans-serif;
    font-size: 1.2rem;
    margin: 10px 0 20px 0;
}
div.cont1 p.invite{
    color: var(--font_color_sub);
    font-family: "Mulish-Reg", sans-serif;
    font-size: 0.9rem;
}
div.cont1 p.invLink{
    margin-top: 10px;
}
span.joinLink{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 250px;
    background-color: var(--body_color);
    padding: 10px 20px;
    color: var(--font_color);
    font-family: "Mulish-Reg", sans-serif;
    font-size: 0.85rem;
    position: relative;
    border-radius: 4px;
    margin-top: 10px;
}
span.joinLinkMain{
    width: 300px !important;
}
span.copy{
    position: absolute;
    right: 15px;
}
span.linkText{
    margin-left: 10px;
}
span.linkTextMain{
    margin-left: 0 !important;
    width: 220px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
svg.copy{
    height: 20px;
    color: var(--font_color_sub);
    cursor: pointer;
}
div.cont2{
    margin-left: 40px;
}
div.cont2 > div{
    display: inline-block;
}
div.collab{
    margin-left: 40px;
}
p.assignmentCountHead{
    color: var(--font_color);
    font-size: 1rem;
    font-family: "Mulish-Reg", sans-serif;
}
h1.assignmentCount{
    color: var(--font_color);
    font-size: 2rem;
    margin: 10px 0 20px 0;
    font-family: "Mulish-Reg", sans-serif;
}
a.createAssignment{
    outline: none;
    background-color: var(--pop_btn_background);
    border: 3px solid var(--pop_btn_background);
    color: #FFFFFF;
    padding: 5px 20px;
    font-family: "Mulish-Reg", sans-serif;
    border-radius: 5px;
    letter-spacing: 0.03rem;
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: none;
}
.secondary{
    border: 3px solid var(--pop_btn_background);
    background: transparent !important;
    color: var(--font_color) !important;
}
h1.yourAssg{
    color: var(--font_color);
    font-family: "Mulish-Reg", sans-serif;
    font-size: 1.5rem;
    margin: 40px 0 20px 0;
}
svg.threeDots{
    height: 18px;
    color: var(--error_color);
    cursor: pointer;
}
svg.deleteClass{
    color: var(--font_color);
    height: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}