@font-face {
    src: url("../GTWalsheimProBlack.ttf");
    font-family: "GTProBlack";
}

div.homeNav{
    height: 65px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06090F;
}
span.logo{
    display: inline-block;
    position: absolute;
    left: 30px;
}
img.logo{
    height: 45px;
}
li.navItem{
    display: inline-block;
    margin: 0 15px;
    padding: 0 15px;
}
li.navItem:first-child{
    margin-left: 0;
}
li.navItem:last-child{
    margin-right: 0;
}
li.navItem a{
    color: #ffffff;
    text-decoration: none;
    font-family: "Mulish-reg", sans-serif;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
}


div.homeCont{
    height: calc(100vh - 65px);
    background-color: #06090F;
    width: 100%;
    display: flex;
    justify-content: center;
}
div.content_cont{
    margin-top: 5%;
    z-index: 10;
}
h1.mainHead{
    color: #ffffff;
    font-size: 4rem;
    font-family: "GTProBlack", sans-serif;
    font-weight: 1000;
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.1rem;
    line-height: 4.5rem;
}
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}
span.lg,
span.dg{
    display: inline-block;
    background-image: linear-gradient(
        45deg,
        #CA4246 16.666%,
        #E16541 16.666%,
        #E16541 33.333%,
        #F18F43 33.333%,
        #F18F43 50%,
        #8B9862 50%,
        #8B9862 66.666%,
        #476098 66.666%,
        #476098 83.333%,
        #A7489B 83.333%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-simple-animation-rev 500ms ease forwards;
}
span.lg:hover,
span.dg:hover{
    animation: rainbow-text-simple-animation 500ms ease-in forwards;
}
p.tag{
    color: #A8A8A8;
    text-align: center;
    font-size: 1.3rem;
    font-family: "Mulish-Reg", sans-serif;
    width: 40%;
    line-height: 1.8rem;
    margin: 18px auto;
}
div.cta{
    display: flex;
    justify-content: center;
    align-items: center;
}
a.signUp{
    text-decoration: none;
    padding: 15px 25px;
    font-family: "Mulish-Reg", sans-serif;
    background-color: #0078D4;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
    margin-right: 15px;
    border-radius: 6px;
}
a.try{
    text-decoration: none;
    padding: 15px 25px;
    font-family: "Mulish-Reg", sans-serif;
    border: 2px solid #0078d4;
    color: #0078d4;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
    margin-right: 15px;
    border-radius: 6px;
}
img.float{
    display: block;
    position: absolute;
    width: 60vw;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}