/*RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*RESET ENDS*/

/*FONTS*/

@font-face {
	font-family: "Mulish-Reg";
	src: url("../Mulish/Mulish-VariableFont_wght.ttf");
}
@font-face {
	font-family: "Mulish-It";
	src: url("../Mulish/Mulish-Italic-VariableFont_wght.ttf");
}
@font-face {
	font-family: "GT-Reg";
	src: url("../GTWalsheimProRegular.ttf");
}
@font-face {
	font-family: "GT-Med";
	src: url("../GTWalsheimProMedium.ttf");
}

/*END FONTS*/

div.container{
	display: flex;
	flex-flow: column;
	height: 100%;
	width: 100%;
	position: relative;
}

/*NAVBAR*/

nav.main_nav{
	margin: 0;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #161b22;
	height: 65px;
}
div.links{
	display: flex;
	justify-content: space-evenly;
}
a.logo{
	text-decoration: none;
}
img.nav_logo {
	height: 40px;
}
ul.nav_links_cont{
	margin-left: 20px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
li.nav_link{
	list-style-type: none;
	margin: 0 10px;
	padding: 8px 10px;
	border-radius: 6px;
}
li.nav_link a{
	text-decoration: none;
	font-family: "Mulish-Reg", sans-serif;
	font-weight: 600;
	letter-spacing: 0.06rem;
	font-size: 0.85rem;
	color: #fff;
}
li.nav_link:hover{
	background-color: #1F2937;
}
div.nav_cta{
	display: flex;
	justify-content: space-evenly;
}
ul.nav_cta{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
ul.nav_cta li{
	list-style-type: none;
	margin: 0 10px;
	padding: 8px 10px;
	border-radius: 6px;
}
ul.nav_cta li:first-child{
	background-color: #0078d4;
}
ul.nav_cta li:nth-child(2){
	background-color: #109b67;
	margin-right: 0;
}
ul.nav_cta li a{
	text-decoration: none;
	font-family: "Mulish-Reg", sans-serif;
	font-weight: 600;
	letter-spacing: 0.06rem;
	font-size: 0.85rem;
	color: #fff;
}

/*NAVBAR ENDS*/