div.main_cont{
    width: 100%;
    height: 100vh;
    overflow: hidden !important;
}
div.topBar{
    width: 100%;
    height: 60px;
    background-color: #161b22;
    display: flex;
    padding: 0 30px;
    align-items: center;
    box-sizing: border-box;
}
img.backArrow{
    display: inline-block;
    height: 40px;
}
h1.questionHead{
    display: inline-block;
    color: #ffffff;
    font-family: "Mulish-Reg", sans-serif;
    font-size: 1.3rem;
    margin-left: 15px;
}
div.partition{
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
}
div.left{
    background-color: #2B2F3B;
    width: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 40px;
}
div.right{
    width: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-direction: column;
}
div.left div.cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.cta a.submissions{
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #0078d4;
    display: inline-block;
    padding: 15px 25px;
    font-family: "Mulish-Reg", sans-serif;
    font-size: 0.85rem;
    border-radius: 8px;
    letter-spacing: 0.03rem;
}
div.cta h1.questionTitle{
    color: #ffffff;
    font-family: "Mulish-Reg", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.03rem;
}
div.cta h2.additionDate{
    color: #a7a7a7;
    font-family: "Mulish-Reg", sans-serif;
    font-size: 0.9rem;
    margin-top: 15px;
    letter-spacing: 0.02rem;
}
div.questionBody h1.problemTag{
    color: #ffffff;
    font-size: 1.2rem;
    font-family: "GT-Med", sans-serif;
    margin-bottom: 15px;
}
div.questionPart{
    margin-top: 30px;
}
div.questionBody p.questionBody{
    color: #ffffff;
    font-size: 0.95rem;
    line-height: 1.4rem;
    font-weight: 400;
    font-family: "GT-Reg", sans-serif;
}
div.right div.top{
    height: 90%;
}
div.right div.bottom{
    height: 10%;
    background-color: #171926;
}
div.bottom div.idk{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
}
div.idk p.allowed{
    color: #ffffff;
    font-family: "GT-Reg", sans-serif;
    font-size: 0.9rem;
}
p.allowed span{
    font-family: "GT-Med", sans-serif;
}
div.idk a.submit{
    color: #ffffff;
    text-decoration: none;
    background-color: #0078d4;
    padding: 13px 35px;
    border-radius: 4px;
    font-family: "Mulish-Reg", sans-serif;
    font-size: 0.85rem;
}