:root{
    --navbarColor: #F5F6F8;
    --navbarShadow: 0px 0.6px 1.8px rgba(0, 0, 0, 0.1),
        0px 3.2px 7.2px rgba(0, 0, 0, 0.13);
    --bodyGrad: #F8F7FC;
    --classBlob: linear-gradient(248.66deg, #FFE7C1 4.5%, #DFE4F3 90.86%);
    --tileColor: #F5F6F8;
    --primaryColor: #000000;
    --fontColor: #000000;
    --fontColorSub: rgba(0, 0, 0, 0.6);
    --fontColorSubTwo: rgba(0, 0, 0, 0.6);
    --avatarBack: #000000;
    --avatarFont: #fff;
    --profilePopUp: #FFFFFF;
    --secondaryColorFont: #5F636D;
    --classTile: #EEEDF3;
    --assignmentCard: rgb(255,255,255);
    --tableBack: #FFFFFF;
    --textBack: #fff;
    --inputBack: #F5F6F8;
    --primarySub: rgba(112, 0, 156, 0.6);
    --primaryDark: #701C97;
    --popBack: #ffffff;
    --inputBorder: #BBBBBB;
}
[data-theme="dark"]{
    --textBack: #20262c;
    --navbarColor: #000000;
    --navbarShadow: 0px 2px 4px rgba(0, 0, 0, 0.14),
        0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    --bodyGrad: linear-gradient(308.38deg, #1A2028 27.9%, #25113B 85.8%);
    --classBlob: linear-gradient(265.86deg, #2F1867 20.52%, #480446 99.38%);
    --tileColor: rgba(14, 33, 32, 0.6);
    --primaryColor: #A93DDB;
    --fontColor: #ffffff;
    --fontColorSub: rgba(255, 255, 255, 0.87);
    --fontColorSubTwo: #B9B9B9;
    --avatarBack: #F5F6F8;
    --avatarFont: #000;
    --profilePopUp: #20262C;
    --secondaryColorFont: rgba(255, 255, 255, 0.6);
    --classTile: rgba(14, 33, 32, 0.6);
    --assignmentCard: rgb(14, 33, 32);
    --tableBack: rgba(14, 33, 32, 0.6);
    --inputBack: #21262D;
    --primarySub: rgba(112, 0, 156, 0.6);
    --primaryDark: #701C97;
    --popBack: #161B22;
    --inputBorder: rgba(255, 255, 255, 0.4);
}