:root{
    --navbar_color: #161B22;
    --body_color: #F8F7FC;
    --tile_color: #EEEDF3;
    --pop_btn_background: #0078d4;
    --font_color: #000000;
    --font_color_sub: #3b3b3b;
    --font_color_subTwo: #7a7a7a;
    --light_btn: #0078d4;
    --error_color: #E16541;
    --popUp_background: #FFFFFF;
    --error_colorTwo: #ff6347;
    --table_back: #EEEDF3;
    --assignment_grad : linear-gradient(248.66deg, #FFE7C1 4.5%, #DFE4F3 90.86%);
    --question_back: #F8F7FC;
    --question_bottom: #171926;
    --tag_back: #EEEDF3;
    --class_card: #EEEDF3;
    --tile_gradient_class: linear-gradient(248.66deg, #FDFCFB, #E2D1C3);
}
[data-theme="dark"]{
    --navbar_color: #161B22;
    --body_color: #06090F;
    --tile_color: #161B22;
    --pop_btn_background: #0078d4;
    --font_color: #ffffff;
    --font_color_sub: #a7a7a7;
    --font_color_subTwo: #a8a8a8;
    --light_btn: #0078d4;
    --error_color: #E16541;
    --popUp_background: #1F2937;
    --error_colorTwo: #ff6347;
    --table_back: #1E252E;
    --assignment_grad : linear-gradient(247.84deg, #161B22 2.14%, #25113B 101.15%);
    --question_back: #2B2F3B;
    --question_bottom: #171926;
    --tag_back: #06090f;
    --class_card: #161B22;
    --tile_gradient_class: linear-gradient(248.66deg, #614385, #516395);
}