{% extends 'base/base.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
    <link rel="stylesheet" href="{% static 'css/assignments.css' %}">
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
{% endblock extrahead %}
{% block content %}
    {% include 'base/dashnav.html' %}
     <div class="assignmentCont">
{#        <div class="tags">#}
{#            <button class="tags activeBtn">Assignments</button>#}
{#            <button class="tags">Statistics</button>#}
{#        </div>#}
        <div class="class_cont">
            <span class="goBack" onclick="goBack();">
                <svg class="goBack" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                </svg> Back
            </span>
            <div class="questionCont">
                <h1 class="assignmentHead">{{ assignmentSelected.name }}</h1>
                <p class="due">Assignment Due: <span>{{ assignmentSelected.due_date }}</span></p>
            </div>
            <div class="tableCont">
                <table class="questionTable">
                    <thead>
                        <tr>
                            <th>Program Name</th>
                            <th>Success Rate</th>
                            <th>Last Run</th>
                            <th>Score</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if questions %}
                            {% for question in questions %}
                                <tr>
                                    <td><a href="/dashboard/question/{{ question.slug }}" class="question">{{ question.title }}</a></td>
                                    <td>Overall SR: <span>65%</span></td>
                                    <td>17 Dec, 2020</td>
                                    <td>80/100</td>
                                    <td><span class="passStatus">Passed</span></td>
                                </tr>
                            {% endfor %}
                            {% else %}
                                <tr>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
     </div>
{% endblock content %}
{% block extrafoot %}
    <script src="{% static 'js/navPop.js' %}"></script>
    <script>
        window.goBack = function (e){
            let defaultLocation = "http://localhost:8000/dashboard/";
            let oldHash = window.location.hash;

            history.back();
            let newHash = window.location.hash;
            if(
                newHash === oldHash &&
                (typeof(document.referrer) !== "string" || document.referrer  === "")
            ){
                window.setTimeout(function(){
                    window.location.href = defaultLocation;
                },1000);
            }
            if(e){
                if(e.preventDefault)
                    e.preventDefault();
                if(e.preventPropagation)
                    e.preventPropagation();
            }
            return false;
        }
    </script>
{% endblock extrafoot %}