{% extends 'base/base.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
    <link rel="stylesheet" href="{% static 'css/assignments.css' %}">
    <link rel="stylesheet" href="{% static 'css/classTeacher.css' %}">
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
    <link rel="stylesheet" href="{% static 'css/assignment_create.css' %}">
{% endblock extrahead %}
{% block content %}
    {% include 'base/dashnav.html' %}
    <div class="assignmentCont">
        <div class="class_cont">
            <span class="goBack" onclick="goBack();">
                <svg class="goBack" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                </svg> Back
            </span>
        </div>
        <div class="class_cont class_teacher_cont" id="class_teacher_cont">
            <h1 class="createAssignment">Create an assignment</h1>
            <p class="createAssignment">You can create a new assignment here. Enter name, questions, due date and you're good to go.</p>
            <div class="assignmentPart">
                <h2 class="assignmentInfo">Assignment Information</h2>
                <form action="" method="POST" class="assignmentInfo" id="assignmentInfo">{% csrf_token %}
                    <label for="assignmentName" class="assignmentInfo">Assignment Name:
                        <input type="text" name="assignmentName" id="assignmentName" aria-required="true" class="assignmentInfo" placeholder="Assignment Name" required>
                    </label>
                    <label for="assignmentName" class="assignmentInfo">Due Date:
                        <input type="datetime-local" name="assignmentDate" id="assignmentDate" aria-required="true" class="assignmentDate" required>
                    </label>
                    <button class="createAssignment" type="submit">Create Assignment</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extrafoot %}
    <script src="{% static 'js/navPop.js' %}"></script>
    <script src="{% static 'js/assignments.js' %}"></script>
    <script>
        window.goBack = function (e) {
            let defaultLocation = "http://localhost:8000/dashboard/"
            let oldHash = window.location.hash

            history.back()
            let newHash = window.location.hash
            if (
                newHash === oldHash &&
                (typeof (document.referrer) !== "string" || document.referrer === "")
            ) {
                window.setTimeout(function () {
                    window.location.href = defaultLocation
                }, 1000)
            }
            if (e) {
                if (e.preventDefault)
                    e.preventDefault()
                if (e.preventPropagation)
                    e.preventPropagation()
            }
            return false
        }
    </script>
{% endblock extrafoot %}