{% extends 'base/base.html' %} {% load static %} {% block extraHead %}
<link rel="stylesheet" href="{% static 'css/dash.css' %}" />
<link rel="stylesheet" href="{% static 'css/assignments.css' %}" />
<link rel="stylesheet" href="{% static 'css/classTeacher.css' %}" />
<link rel="stylesheet" href="{% static 'css/questions.css' %}" />
<link rel="stylesheet" href="{% static 'css/dashNav.css' %}" />
<link rel="stylesheet" href="{% static 'css/assignment_create.css' %}" />
{% endblock extraHead %} {% block content %} {% include 'base/dashnav.html' %}
<div class="bodyCont">
  <div class="insideCont">
    <div class="questionCont">
      <div class="xyz">
        <form action="" method="post">
          <h1 class="assignmentHead">{{ assignmentSelected.name }}</h1>
          <p class="due">
            Assignment Due:<span>{{ assignmentSelected.due_date }}</span>
          </p>
        </form>
      </div>
      <div class="abc">
        <span class="quesLink">
          <a
            href="/dashboard/create/questions/{{ assignmentSelected.slug }}"
            class="addQuestion"
            >Add Questions</a
          >
          {% if assignmentSelected.isActive == False %}
          <a
            href="/dashboard/assignment/active/{{ assignmentSelected.slug }}"
            class="addQuestion publish"
            >Publish Assignment</a
          >
          {% endif %} {% if assignmentSelected.isActive == True %}
          <a
            href="/dashboard/assignment/deactivate/{{ assignmentSelected.slug }}"
            class="addQuestion publish archive"
            >Archive Assignment</a
          >
          {% endif %}
        </span>
      </div>
    </div>
    <div class="tableCont">
      <table class="questionTable">
        <thead>
          <tr>
            <th>Program Name</th>
            <th>Average Score</th>
            <th>Total Submissions</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% if questions %} {% for question in questions %}
          <tr>
            <td>
              <a href="/dashboard/question/{{ question.slug }}" class="question"
                >{{ question.title }}</a
              >
            </td>
            <td>{{ question.averageScore }}/100</td>
            <td>
              {{ question.totalBestSub }}
              <a
                href="/dashboard/submissions/{{ question.slug }}"
                target="_blank"
                class="viewSubTeacher"
                >(View Submissions)</a
              >
            </td>
            <td style="text-align: center">
              <a
                href="/dashboard/questions/delete/{{ assignmentSelected.slug }}/{{ question.slug }}"
                class="delete"
                >Delete Question</a
              >
            </td>
          </tr>
          {% endfor %} {% else %}
          <tr>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>-</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %} {% block extraFoot %}
<script src="{% static 'js/colorChanger.js' %}"></script>
<script src="{% static 'js/navPop.js' %}"></script>
<script src="{% static 'js/assignments.js' %}"></script>
{% endblock extraFoot %}
