{% extends 'base/base.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
    <link rel="stylesheet" href="{% static 'css/assignments.css' %}">
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
{% endblock extrahead %}
{% block content %}
    {% include 'base/dashnav.html' %}
    <div class="assignmentCont">
        <div class="tags">
            <button class="tags" id="assignmentToggle">Assignments</button>
            <button class="tags" id="studentToggle">Students</button>
        </div>
        <div class="class_cont">
            <div class="assignmentSubPart" id="assignmentCont">
                <span class="goBack" onclick="goBack();">
                    <svg class="goBack" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                    </svg> Back
                </span>
                <h1 class="yourAssignments">{{ classSelected.name }}</h1>
                <h1 class="tagBatch">{{ classSelected.batch }}</h1>
                <p class="youCan">You can view all assignments and scores for each submission here.</p>
                <p class="createdBy"><span style="color: #44a2e5;">Created By:</span> {{ classSelected.created_by.first_name }} {{ classSelected.created_by.last_name }}</p>
                <div class="assignmentsView">
                    {% if assignments %}
                        {% for assignment in assignments %}
                            <a href="/dashboard/assignment/{{ assignment.slug }}">
                                <div class="assignmentCard">
                                    <div class="assignmentCardHead">
                                        <h1 class="assignment">{{ assignment.name }}</h1>
                                        <h2 class="lastEdit">Last edited on 20 Nov, 2020</h2>
                                    </div>
                                    <div class="assignmentCardFoot">
                                        <h1 class="assignmentDue">Assignment Due</h1>
                                        <h2 class="due">{{ assignment.due_date }}</h2>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                        {% else %}
                        <div class="noClass">
                           <img style="margin-top: 50px;" src="{% static 'Illustrations/NoAssignment.svg' %}" alt="" class="noCLass">
                       </div>
                    {% endif %}
                </div>
            </div>
            <div class="studentPart" id="studentCont">
                <div class="tableCont">
                    <span class="goBack" onclick="goBack();">
                        <svg class="goBack" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                        </svg> Back
                    </span>
                    <table class="questionTable">
                        <thead>
                            <tr>
                                <th>Class Mates</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if students %}
                                {% for student in students %}
                                    <tr>
                                        <td>{{ student.student.first_name }} {{ student.student.last_name }}</td>
                                    </tr>
                                {% endfor %}
                                {% else %}
                                    <tr>
                                        <td>NA</td>
                                    </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extrafoot %}
    <script src="{% static 'js/navPop.js' %}"></script>
    <script src="{% static 'js/assignments.js' %}"></script>
    <script>
        window.goBack = function (e){
            let defaultLocation = "http://localhost:8000/dashboard/";
            let oldHash = window.location.hash;

            history.back();
            let newHash = window.location.hash;
            if(
                newHash === oldHash &&
                (typeof(document.referrer) !== "string" || document.referrer  === "")
            ){
                window.setTimeout(function(){
                    window.location.href = defaultLocation;
                },1000);
            }
            if(e){
                if(e.preventDefault)
                    e.preventDefault();
                if(e.preventPropagation)
                    e.preventPropagation();
            }
            return false;
        }
        let assignmentToggle = document.getElementById("assignmentToggle")
        let studentToggle = document.getElementById("studentToggle")
        let studentCont = document.getElementById("studentCont")
        let assignmentCont = document.getElementById("assignmentCont")
        studentCont.style.display = "none"
        assignmentToggle.classList.add("activeBtn")
        assignmentToggle.addEventListener("click", openAssignment)
        function openAssignment(){
            assignmentToggle.classList.add("activeBtn")
            studentToggle.classList.remove("activeBtn")
            assignmentCont.style.display = "block"
            studentCont.style.display = "none"
        }
        studentToggle.addEventListener("click", openStudent)
        function openStudent(){
            assignmentToggle.classList.remove("activeBtn")
            studentToggle.classList.add("activeBtn")
            assignmentCont.style.display = "none"
            studentCont.style.display = "block"
        }
    </script>

{% endblock extrafoot %}