{% extends 'base/base.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
    <link rel="stylesheet" href="{% static 'css/assignments.css' %}">
    <link rel="stylesheet" href="{% static 'css/classTeacher.css' %}">
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
{% endblock extrahead %}
{% block content %}
    {% include 'base/dashnav.html' %}
    <div class="assignmentCont">
        <div class="tags">
            <button class="tags activeBtn" id="assignmentToggle">Assignments</button>
            <button class="tags" id="studentToggle">Students</button>
        </div>
        <div class="class_cont">
            <span class="goBack" onclick="goBack();">
                <svg class="goBack" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                </svg> Back
            </span>
        </div>
        <div class="class_cont class_teacher_cont" id="class_teacher_cont">
            <div class="classTeacherTile">
                <div class="cont1">
                    <h1 class="classTitle">Machine Learning</h1>
                    <h2 class="classBatch">IT-5</h2>
                    <p class="invite">Invite students by sharing this joining code</p>
                    <span class="joinLink">
                        Class ID:
                        <span class="linkText">xxx-xxx-xxx</span>
                        <span class="copy">
                            <svg class="copy" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2" />
                            </svg>
                        </span>
                    </span>
                </div>
                <div class="cont2">
                    <p class="assignmentCountHead">Number of active assignments</p>
                    <h1 class="assignmentCount">{{ assignmentNumber }}</h1>
                    <button type="button" class="createAssignment">Create Assignment</button>
                </div>
            </div>
            <h1 class="yourAssg">Your Assignments</h1>
             <div class="tableCont">
                <table class="questionTable" style="background-color: #161b22 !important;">
                    <thead>
                        <tr>
                            <th>Assignment Name</th>
                            <th>Assignment Posted</th>
                            <th>Due Date</th>
                            <th>Average Score</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if assignments %}
                            {% for assignment in assignments %}
                                <tr>
                                    <td>{{ assignment.name }}</td>
                                    <td>{{ assignment.timestamp }}</td>
                                    <td>{{ assignment.due_date }}</td>
                                    <td>NA</td>
                                    <td>:</td>
                                </tr>
                            {% endfor %}
                            {% else %}
                                <tr>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>-</td>
                                </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="class_cont student_cont" id="student_cont">
            <h1 class="studentHead">Student Statistics</h1>
            <h2 class="students">Students({{ studentNumber }})</h2>
            <p class="youCan">You can view the scores of students in this class, click on the name of each student for detailed view.</p>
            <div class="tableCont studentView">
                <table class="questionTable" style="background-color: #161b22 !important;">
                    <thead>
                        <tr>
                            <th>Student's Name</th>
                            <th>Roll Number</th>
                            <th>Date Joined</th>
                            <th>Total Score</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if students %}
                            {% for student in students %}
                                <tr>
                                    <td>{{ student.student.first_name }} {{ student.student.last_name }}</td>
                                    <td>1806311</td>
                                    <td>{{ student.timestamp }}</td>
                                    <td>NA</td>
                                    <td style="color: #ff6347">Remove Student</td>
                                </tr>
                            {% endfor %}
                            {% else %}
                                <tr>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>-</td>
                                </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extrafoot %}
    <script src="{% static 'js/navPop.js' %}"></script>
    <script src="{% static 'js/assignments.js' %}"></script>
    <script>
        let assignmentToggle = document.getElementById("assignmentToggle")
        let studentToggle = document.getElementById("studentToggle")
        let studentCont = document.getElementById("student_cont")
        let assignmentCont = document.getElementById("class_teacher_cont")
        studentCont.style.display = "none"

        assignmentToggle.addEventListener("click", openAssignment)
        function openAssignment(){
            assignmentToggle.classList.add("activeBtn")
            studentToggle.classList.remove("activeBtn")
            assignmentCont.style.display = "block"
            studentCont.style.display = "none"
        }
        studentToggle.addEventListener("click", openStudent)
        function openStudent(){
            assignmentToggle.classList.remove("activeBtn")
            studentToggle.classList.add("activeBtn")
            assignmentCont.style.display = "none"
            studentCont.style.display = "block"
        }

        window.goBack = function (e){
            let defaultLocation = "http://localhost:8000/dashboard/";
            let oldHash = window.location.hash;

            history.back();
            let newHash = window.location.hash;
            if(
                newHash === oldHash &&
                (typeof(document.referrer) !== "string" || document.referrer  === "")
            ){
                window.setTimeout(function(){
                    window.location.href = defaultLocation;
                },1000);
            }
            if(e){
                if(e.preventDefault)
                    e.preventDefault();
                if(e.preventPropagation)
                    e.preventPropagation();
            }
            return false;
        }
    </script>
{% endblock extrafoot %}