{% extends 'base/base.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
    <link rel="stylesheet" href="{% static 'css/assignments.css' %}">
    <link rel="stylesheet" href="{% static 'css/classTeacher.css' %}">
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
{% endblock extrahead %}
{% block content %}
    {% include 'base/dashnav.html' %}
    <div class="assignmentCont">
        <div class="tags">
            <button class="tags activeBtn" id="assignmentToggle">Assignments</button>
            <button class="tags" id="studentToggle">Students</button>
        </div>
        <div class="class_cont class_teacher_cont" id="class_teacher_cont">
            <span class="goBack" onclick="goBack();">
                <svg class="goBack" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                </svg> Back
            </span>
            <div class="classTeacherTile">
                <div class="cont1">
                    <h1 class="classTitle">{{ classSelected.name }}</h1>
                    <h2 class="classBatch">{{ classSelected.batch }}</h2>
                    <p class="invite">Invite students by sharing this joining code</p>
                    <span class="joinLink">
                        Class ID:
                        <span class="linkText" id="linkText">{{ classSelected.slug }}</span>
                        <span class="copy">
                            <svg id="linkTextToggle" class="copy" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2" />
                            </svg>
                        </span>
                    </span>
                    <p class="invite invLink">Or share the invite link</p>
                    <span class="joinLink joinLinkMain">
                        <span class="linkTextMain" id="linkTextMain">{{ request.META.HTTP_HOST }}/join/{{ classSelected.slug }}</span>
                        <span class="copy">
                            <svg id="linkTextToggleMain" class="copy" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2" />
                            </svg>
                        </span>
                    </span>
                </div>
                <div class="cont2">
                    <p class="assignmentCountHead">Number of active assignments</p>
                    <h1 class="assignmentCount">{{ assignmentNumber }}</h1>
                    <a href="/dashboard/create/{{ classSelected.slug }}" class="createAssignment">Create Assignment</a>
                </div>
                <div class="removeClass">
                    <button class="removeClass popUpToggleOpen" id="popUpOpenToggle">
                        <svg class="deleteClass" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>
                        Delete Class
                    </button>
                </div>
            </div>
            <h1 class="yourAssg">Your Assignments</h1>
             <div class="tableCont">
                <table class="questionTable">
                    <thead>
                        <tr>
                            <th>Assignment Name</th>
                            <th>Assignment Posted</th>
                            <th>Due Date</th>
                            <th>Average Score</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if assignments %}
                            {% for assignment in assignments %}
                                <tr>
                                    <td><a href="/dashboard/assignment/{{ assignment.slug }}" class="question">{{ assignment.name }}</a></td>
                                    <td>{{ assignment.timestamp }}</td>
                                    <td>{{ assignment.due_date }}</td>
                                    <td>NA</td>
                                    <td><a style="color: #ff6347; text-decoration: none" href="/dashboard/assignment/remove/{{ classSelected.slug }}/{{ assignment.slug }}">Remove Assignment</a></td>
                                </tr>
                            {% endfor %}
                            {% else %}
                                <tr>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>-</td>
                                </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="class_cont student_cont" id="student_cont">
            <span class="goBack" onclick="goBack();">
                <svg class="goBack" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                </svg> Back
            </span>
            <h1 class="studentHead">Student Details</h1>
            <h2 class="students">Students({{ studentNumber }})</h2>
            <p class="youCan">You can view the scores of students in this class, click on the name of each student for detailed view.</p>
            <div class="tableCont studentView">
                <table class="questionTable">
                    <thead>
                        <tr>
                            <th>Student's Name</th>
                            <th>Roll Number</th>
                            <th>Date Joined</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if students %}
                            {% for student in students %}
                                <tr>
                                    <td><a href="/dashboard/student/{{ classSelected.slug }}/{{ student.student.email }}" class="question">{{ student.student.first_name }} {{ student.student.last_name }}</a></td>
                                    <td>{{ student.rollNo }}</td>
                                    <td>{{ student.timestamp }}</td>
                                    <td><a style="color: #ff6347; text-decoration: none" href="/dashboard/class/remove/{{ classSelected.slug }}/{{ student.student.email }}">Remove Student</a></td>
                                </tr>
                            {% endfor %}
                            {% else %}
                                <tr>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>-</td>
                                </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="popUpsCont" id="popUpContainerWrap">
        <div class="popUpBody" id="popUpContainerW">
            <h1 class="warning">Are you sure you want to delete the classroom?</h1>
            <div class="ctaPopUp">
                <button class="closePop popUpCloseToggle" type="button" id="popUpCloseToggle">Cancel</button>
                <a href="/dashboard/class/remove/{{ classSelected.slug }}" class="acceptPop">Delete</a>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extrafoot %}
    <script src="{% static 'js/navPop.js' %}"></script>
    <script src="{% static 'js/assignments.js' %}"></script>
    <script src="{% static 'js/popUp.js' %}"></script>
    <script>
        let assignmentToggle = document.getElementById("assignmentToggle")
        let studentToggle = document.getElementById("studentToggle")
        let studentCont = document.getElementById("student_cont")
        let assignmentCont = document.getElementById("class_teacher_cont")
        studentCont.style.display = "none"

        assignmentToggle.addEventListener("click", openAssignment)
        function openAssignment(){
            assignmentToggle.classList.add("activeBtn")
            studentToggle.classList.remove("activeBtn")
            assignmentCont.style.display = "block"
            studentCont.style.display = "none"
        }
        studentToggle.addEventListener("click", openStudent)
        function openStudent(){
            assignmentToggle.classList.remove("activeBtn")
            studentToggle.classList.add("activeBtn")
            assignmentCont.style.display = "none"
            studentCont.style.display = "block"
        }

        window.goBack = function (e){
            let defaultLocation = "http://localhost:8000/dashboard/";
            let oldHash = window.location.hash;

            history.back();
            let newHash = window.location.hash;
            if(
                newHash === oldHash &&
                (typeof(document.referrer) !== "string" || document.referrer  === "")
            ){
                window.setTimeout(function(){
                    window.location.href = defaultLocation;
                },1000);
            }
            if(e){
                if(e.preventDefault)
                    e.preventDefault();
                if(e.preventPropagation)
                    e.preventPropagation();
            }
            return false;
        }

        document.getElementById("linkTextToggle").addEventListener("click", copyLink)
        function copyLink() {
            let copyText = document.getElementById("linkText")
            let textArea = document.createElement("textarea")
            textArea.value = copyText.textContent
            document.body.appendChild(textArea)
            textArea.select()
            document.execCommand("Copy")
            alert("Code Copied")
            textArea.remove()
        }
        document.getElementById("linkTextToggleMain").addEventListener("click", copyMain)
        function copyMain() {
            let copyText = document.getElementById("linkTextMain")
            let textArea = document.createElement("textarea")
            textArea.value = copyText.textContent
            document.body.appendChild(textArea)
            textArea.select()
            document.execCommand("Copy")
            alert("Code Copied")
            textArea.remove()
        }
    </script>
{% endblock extrafoot %}