{% extends 'base/base.html' %}
{% load static %}
{% block extraHead %}
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashNav.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
{% endblock extraHead %}
{% block content %}
    {% include 'base/dashnav.html' %}
        <div class="IDECont">
            <div class="ideLeft">
                <div class="cta">
                    <div class="heads">
                        <h1 class="questionTitle">{{ question.title }} (<span id="slug">{{ question.slug }}</span>)</h1>
                        <p class="additionDate">Added on: {{ question.timestamp }}</p>
                    </div>
                    <a href="/dashboard/submissions/{{ question.slug }}" target="_blank" class="submissions">View Submissions</a>
                </div>
                <div class="questionBody">
                    <div class="questionPart">
                        <h1 class="problemTag">Problem Statement</h1>
                        <p class="questionBody">
                            {{ question.body }}
                        </p>
                    </div>
                    <div class="questionPart">
                        <h1 class="problemTag">Input</h1>
                        <p class="questionBody">
                            {{ question.input_format }}
                        </p>
                    </div>
                    <div class="questionPart">
                        <h1 class="problemTag">Output</h1>
                        <p class="questionBody">
                            {{ question.output_format }}
                        </p>
                    </div>
                </div>
                
                <div class="alert processing hidden" id="processing">
                    <img src="{% static 'Illustrations/loading.svg' %}" class="loading">
                    Processing . . .
                </div>

                <div class="alert error hidden" id="error">
                    <div class="alert-head">
                        <div class="verdict-section">
                            <img src="{% static 'Illustrations/error.svg' %}"  class="verdict-svg">
                            <div class="verdict-text">Error</div>
                        </div>
                        <button id="closebtn" onclick="document.getElementById('error').style.display='none';">
                            <svg class="closeIcon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>

                    <div id="error_message"></div>
                </div>


                <div class="alert success hidden" id="success">
                    <div class="alert-head">
                        <div class="verdict-section">
                            <img src="{% static 'Illustrations/success.svg' %}"  class="verdict-svg">
                            <div class="verdict-text">Success</div>
                        </div>
                        <button id="closebtn" onclick="document.getElementById('success').style.display='none';">
                            <svg class="closeIcon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>

                    <div id="success_message"></div>
                </div>

            </div>
            <div class="ideRight">
                <div class="top">
                    <input type="hidden" id="lang" value='{{ question.allowed_lang }}'>
                     <div id="editor">a, b = input().split()
print(int(a) + int(b))</div>
                    <!-- <div id="editor"># Write your code here</div> -->
                    {% csrf_token %}
                </div>
                <div class="bottom">
                    <div class="idk">
                        <p class="allowed">Allowed language : <span id="lang">{{ question.allowed_lang }}</span></p>
                        <span>
                            <a class="run" onclick="run_code()">Run</a>
                            <a class="submit" onclick="submit_code()">
                                Submit
                                {% if timeup %}
                                    ( Practice )
                                {% endif %}
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% include 'base/aceCDN.html' %}
{% endblock content %}
{% block extraFoot %}
    <script src="{% static 'js/track.js' %}"></script>
    <script src="{% static 'js/colorChanger.js' %}"></script>
    <script src="{% static 'js/navPop.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock extraFoot %}

