{% extends 'base/base.html' %}
{% load static %}
{% block extraHead %}
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
    <link rel="stylesheet" href="{% static 'css/assignments.css' %}">
    <link rel="stylesheet" href="{% static 'css/classTeacher.css' %}">
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashNav.css' %}">
    <link rel="stylesheet" href="{% static 'css/assignment_create.css' %}">
    <link rel="stylesheet" href="{% static 'css/questionCreate.css' %}">
{% endblock extraHead %}
{% block content %}
    {% include 'base/dashnav.html' %}
    <div class="bodyCont">
        <div class="insideCont">
            <h1 class="createAssignment">Add a question</h1>
            <div class="assignmentPart">
                <div class="questionBody">
                    <form action="" method="POST">{% csrf_token %}
                        <div class="questionCreateFormElem">
                            <label class="assignmentInfo" for="questionName">Question Name:
                                <input aria-required="true" type="text" name="questionName" class="assignmentInfo" required>
                            </label>
                        </div>
                        <div class="questionCreateFormElem">
                            <label class="assignmentInfo" for="questionName">Allowed Language:
                                <select aria-required="true" name="allowedLang" id="allowedLang" class="assignmentInfo" required>
                                    <option value="0" selected>Select</option>
                                    <option value="C">C</option>
                                    <option value="CPP">C++</option>
                                    <option value="Python">Python</option>
                                    <option value="Java">Java</option>
                                </select>
                            </label>
                        </div>
                        <div class="questionCreateFormElem">
                            <label class="assignmentInfo" for="questionName">Problem Statement:
                                <textarea aria-required="true" name="problemStatement" rows="10" cols="50" class="assignmentInfo" required></textarea>
                            </label>
                        </div>
                        <div class="questionCreateFormElem">
                            <label class="assignmentInfo" for="questionName">Input Description:
                                <textarea aria-required="true" name="inputFormat" rows="10" cols="50" class="assignmentInfo" required></textarea>
                            </label>
                        </div>
                        <div class="questionCreateFormElem">
                            <label class="assignmentInfo" for="questionName">Output Description:
                                <textarea aria-required="true" name="outputFormat" rows="10" cols="50" class="assignmentInfo" required></textarea>
                            </label>
                        </div>
                        <div class="questionCreateFormElem">
                            <h2 class="sampleText">Sample Test Case 1</h2>
                            <div class="sample">
                                <label class="assignmentInfo sample" for="questionName">Sample Input 1:
                                    <textarea aria-required="true" name="input1" rows="10" cols="50" class="assignmentInfo" required></textarea>
                                </label>
                                <label class="assignmentInfo sample" for="questionName">Sample Output 1:
                                    <textarea aria-required="true" name="output1" rows="10" cols="50" class="assignmentInfo" required></textarea>
                                </label>
                            </div>
                        </div>
                        <div class="questionCreateFormElem">
                            <h2 class="sampleText">Sample Test Case 2</h2>
                            <div class="sample">
                                <label class="assignmentInfo sample" for="questionName">Sample Input 2:
                                    <textarea aria-required="true" name="input2" rows="10" cols="50" class="assignmentInfo" required></textarea>
                                </label>
                                <label class="assignmentInfo sample" for="questionName">Sample Output 2:
                                    <textarea aria-required="true" name="output2" rows="10" cols="50" class="assignmentInfo" required></textarea>
                                </label>
                            </div>
                        </div>
                        <div class="questionCreateFormElem">
                            <h2 class="sampleText">Sample Test Case 3</h2>
                            <div class="sample">
                                <label class="assignmentInfo sample" for="questionName">Sample Input 3:
                                    <textarea aria-required="true" name="input3" rows="10" cols="50" class="assignmentInfo" required></textarea>
                                </label>
                                <label class="assignmentInfo sample" for="questionName">Sample Output 3:
                                    <textarea aria-required="true" name="output3" rows="10" cols="50" class="assignmentInfo" required></textarea>
                                </label>
                            </div>
                        </div>
                        <div class="questionCreateFormElem">
                            <h2 class="sampleText">Sample Test Case 4</h2>
                            <div class="sample">
                                <label class="assignmentInfo sample" for="questionName">Sample Input 4:
                                    <textarea aria-required="true" name="input4" rows="10" cols="50" class="assignmentInfo" required></textarea>
                                </label>
                                <label class="assignmentInfo sample" for="questionName">Sample Output 4:
                                    <textarea aria-required="true" name="output4" rows="10" cols="50" class="assignmentInfo" required></textarea>
                                </label>
                            </div>
                        </div>
                        <div class="questionCreateFormElem">
                            <h2 class="sampleText">Sample Test Case 5</h2>
                            <div class="sample">
                                <label class="assignmentInfo sample" for="questionName">Sample Input 5:
                                    <textarea aria-required="true" name="input5" rows="10" cols="50" class="assignmentInfo" required></textarea>
                                </label>
                                <label class="assignmentInfo sample" for="questionName">Sample Output 5:
                                    <textarea aria-required="true" name="output5" rows="10" cols="50" class="assignmentInfo" required></textarea>
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="createAssignment">Done</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extraFoot %}
    <script src="{% static 'js/colorChanger.js' %}"></script>
    <script src="{% static 'js/navPop.js' %}"></script>
    <script src="{% static 'js/assignments.js' %}"></script>
{% endblock extraFoot %}