{% extends 'base/base.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
{% endblock extrahead %}
{% block content %}
    <div class="main_cont">
        <div class="topBar">
            <a href="#" onclick="goBack()" class="back"><img src="{% static 'Illustrations/backArrow.svg' %}" alt="" class="backArrow"></a>
            <h1 class="questionHead">{{ question.assignment }} - {{ question.slug }}</h1>
        </div>
        <div class="partition">
            <div class="left">
                <div class="cta">
                    <div class="heads">
                        <h1 class="questionTitle">{{ question.title }}</h1>
                        <h2 class="additionDate">Added on: {{ question.timestamp }}</h2>
                    </div>
                    <a href="#" class="submissions">View Submissions</a>
                </div>
                <div class="questionBody">
                    <div class="questionPart">
                        <h1 class="problemTag">Problem Statement</h1>
                        <p class="questionBody">
                            It is important for researchers to write many high quality academic papers. Jorge has recently discovered a way to measure how impactful a researcher's papers are: the H-index. The H-index score of a researcher is the largest integer h such that the researcher has h papers with at least h citations each. Jorge has written N papers in his lifetime. The i-th paper has Ai citations. The number of citations that each paper has will never change after it is written. Please help Jorge determine his H-index score after each paper he wrote.
                        </p>
                    </div>
                    <div class="questionPart">
                        <h1 class="problemTag">Input</h1>
                        <p class="questionBody">
                            The first line of the input gives the number of test cases, T. T test cases follow. Each test case begins with a line containing N, the number of papers Jorge wrote. The second line contains N integers. The i-th integer is Ai, the number of citations the i-th paper has.
                        </p>
                    </div>
                    <div class="questionPart">
                        <h1 class="problemTag">Output</h1>
                        <p class="questionBody">
                            For each test case, output one line containing Case #x: y, where x is the test case number (starting from 1) and y is a space-separated list of integers. The i-th integer is the H-index score after Jorge wrote his i-th paper.
                        </p>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="top">
                    <div id="editor">a, b = input().split()
print(int(a) + int(b))</div>
                    {% csrf_token %}
                </div>
                <div class="bottom">
                    <div class="idk">
                        <p class="allowed">Allowed language : <span id="lang">{{ question.allowed_lang }}</span></p>
                        <a class="submit" onclick="submit_code()">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'base/aceCDN.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock content %}
