{% extends 'base/base.html' %}
{% load static %}
{% block extraHead %}
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
    <link rel="stylesheet" href="{% static 'css/assignments.css' %}">
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashNav.css' %}">
    <link rel="stylesheet" href="{% static 'css/classTeacher.css' %}">
{% endblock extraHead %}
{% block content %}
    {% include 'base/dashnav.html' %}
    <div class="bodyCont">
        <div class="insideCont">
            <a class="backBtn" href="{{request.META.HTTP_REFERER}}">Go back</a>
            <div class="classBlob">
                <div class="classInfo">
                    <h1 class="className">{{ studentSelected.first_name }} {{ studentSelected.last_name }}</h1>
                    <p class="batch" style="margin-bottom: 0;">{{ studentProfile.rollNo }}</p>
                </div>
            </div>
            <div class="tableCont">
                <h1 class="yourAssg">Submission Statistics</h1>
                <table class="questionTable">
                    <thead>
                        <tr>
                            <th>Submission</th>
                            <th>Score</th>
                            <th>Submission Date</th>
                            <th>View Submission</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for submission in submissions %}
                            <tr>
                                <td>{{ submission.status }}</td>
                                <td>{{ submission.score }}</td>
                                <td>{{ submission.lastRun }}</td>
                                <td><a href="/submission/{{ submission.slug }}" target="_blank">View Submission</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extraFoot %}
    <script src="{% static 'js/navPop.js' %}"></script>
    <script src="{% static 'js/colorChanger.js' %}"></script>
{% endblock extraFoot %}