{% extends 'base/base.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
    <link rel="stylesheet" href="{% static 'css/assignments.css' %}">
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
    <style>
        td.passVerdict{
            color: #109b67 !important;
        }
        td.failVerdict{
            color: #ff6347 !important;
        }
    </style>
{% endblock extrahead %}
{% block content %}
    {% include 'base/dashnav.html' %}
     <div class="assignmentCont">
        <div class="class_cont">
            <span class="goBack" onclick="goBack();">
                <svg class="goBack" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                </svg> Back
            </span>
            <div class="questionCont">
                <h1 class="assignmentHead">{{ questionSelected.title }}</h1>
            </div>
            <div class="tableCont">
                <table class="questionTable" id="submissionTable">
                    <thead>
                        <tr>
                            <th>Student Name</th>
                            <th>Email</th>
                            <th>Best Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if submissionSelected %}
                            {% for submission in submissionSelected %}
                                <tr>
                                    <td>{{ submission.submitted_by.first_name }} {{ submission.submitted_by.last_name }}</td>
                                    <td>{{ submission.submitted_by }}</td>
                                    <td id="score">{{ submission.score }}</td>
                                </tr>
                            {% endfor %}
                            {% else %}
                                <tr>
                                    <td>NA</td>
                                    <td>NA</td>
                                </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
     </div>
{% endblock content %}
{% block extrafoot %}
    <script src="{% static 'js/navPop.js' %}"></script>
    <script>

        function check(){
            let verdict = document.getElementById("verdict")
            let score = parseInt(document.getElementById("score").innerText)
            let table = document.getElementById("submissionTable")
            let length = table.rows.length
            if (score>=80){
                verdict.innerText = "Passed"
                verdict.classList.add("passVerdict")
            }
            else {
                verdict.innerText = "Failed"
                verdict.classList.add("failVerdict")
            }
        }
        check()

    </script>
    <script>
        window.goBack = function (e) {
            let defaultLocation = "http://localhost:8000/dashboard/";
            let oldHash = window.location.hash;

            history.back();
            let newHash = window.location.hash;
            if (
                newHash === oldHash &&
                (typeof (document.referrer) !== "string" || document.referrer === "")
            ) {
                window.setTimeout(function () {
                    window.location.href = defaultLocation;
                }, 1000);
            }
            if (e) {
                if (e.preventDefault)
                    e.preventDefault();
                if (e.preventPropagation)
                    e.preventPropagation();
            }
            return false;
        }
    </script>
{% endblock extrafoot %}